body
{
	background-color: #ffffff;
}
table
{
	margin-top:100px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-spacing: none;
	border-collapse: collapse;
}
th{
	padding: 10px;
}
td
{
	margin-left: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: black;

}